# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
web-build/
dist/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
dist/index.html
dist/_expo/static/js/web/index-223f809a4f923069ef6d6c3fbf1417a3.js
dist/_expo/static/js/web/index-423435838c146c5740e943849c1c474d.js
dist/index.html
dist/_expo/static/js/web/index-423435838c146c5740e943849c1c474d.js
